.footer__li{
  margin: 0;
  margin-right: 18px;
  text-align: left;
}

.footer__li:last-child{
  margin: 0;
}

@media screen and (max-width: 450px){
  .footer__li{
    margin-bottom: 32px;
    padding: 0;
  }


}