@import url("./vendor/normalize.css");
/*@import url("./blocks/header/header.css");
@import url("./blocks/page/page.css");*/
@font-face {
  src: url("./fonts/Inter\ Web/Inter-Black.woff2") format("woff2");
  font-family: "Inter";
}
.page{
  background-color: grey;
}

.header{
  margin: 0 auto;
  max-width: 1184px;
  padding: 28px 48px 0;
  display: grid;
  grid-template-columns: calc(100% - 30px - 29px) 30px 29px;
  gap: 18px;
  }

.header__logo{
width: 176px;
height: 52px;
}

.header__lang-link{
margin: 0;
color: white;
}
.header__lang-link_lang_ru{
  text-decoration: underline;
}
.header__lang-link_lang_en{
  text-decoration: none;
}

.lead{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 984px;
}
.lead__title{
  font-family: Inter;
  margin: 0 auto;
  font-style: normal;
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  color: white;
}

.lead__subtitle{
  font-family: Inter;
  margin: 32px auto 64px;
  max-width: 640px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: white;
}

.lead__image{
  width: 984px;
  height: 615px;
  object-fit: contain;
  object-position: center;
  background-image: url("./images/kalegin-michail-179870-unsplash.png");
  margin: 0 auto;
}

.lead__caption{
  font-family: Inter;
  margin: 8px 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  text-transform: uppercase;
  color: white;
}

.intro{
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
}

.intro__title{
  margin: 0;
  margin-left: 148px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  color: white;
}

.intro__text{
  margin: 0;
  margin-left: 148px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.63;
  color: white;
  display: grid;
  grid-template-columns: fit-content(50%);
}

.intro__list{
  list-style: none;
  margin: 0;
  margin-left: 148px;
  padding: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  color: white;
}

.photo-grid{
  margin: 92px auto 0;
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  align-items: center;
  justify-content: center;
}
.photo-grid__item{
  margin: 0;
}

.places{
  max-width: 984px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.place{
  display: grid;
  grid-template-columns: min-content fit-content(50%);
  grid-template-rows: repeat(2, min-content);
  column-gap: 40px;
  row-gap: 48px;
  margin-top: 80px;
}

.place__title{
  font-family: Inter;
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  color: white;
}

.place__paragraph{
  font-family: Inter;
  margin: 0;
  margin-bottom: 26px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: white;
}

.place__website{
  margin: 0;
  align-self: end;
}

.place__website_url-heading{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1;
  color: rgb(114, 112, 112);
}

.place__website_link{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: white;
}

.cover{
  background-image: url("./images/__background.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 92px auto;
  max-width: 1184px;
  min-height: 740px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover__header{
  z-index: 2;
  margin: 0 auto;
  max-width: 560px;
  min-height: 152px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  color: white;
}

.cover__subtitle{
z-index: 2;
  margin: 32px auto 0;
  max-width: 360px;
  min-height: 66px;
  font-family: Inter;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: white;
}

.cover__overlay{
  z-index: 2;
  opacity: .3;
  max-width: 1184px;
  position: absolute;
  top: 0;
  left: 0;
}

.footer{
margin: 0 auto 24px;
max-width: 1184px;
}

.footer__content{
  display: grid;
  grid-template-columns: repeat(5, min-content) auto;
  grid-template-rows: min-content;
  gap: 18px;
}

.footer__link{
  font-family: Inter;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.12;
  color: white;
}

.footer__copyright{
  font-family: Inter;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  text-align: right;
  color: white;
}