.place__paragraph{
  font-family: Inter;
  margin: 0;
  margin-bottom: 26px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.63;
  color: white;
  max-width: 484px;
}

.place__paragraph:first-child{
  grid-area: paragraph_main;
}

.place__paragraph:nth-child(2){
  grid-area: paragraph_add; 
}

@media screen and (max-width: 1024px) {
  .place__paragraph{
    max-width: 456px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph{
    max-width: 352px;
  }
}

@media screen and (max-width: 414px) {
  .place__paragraph{
    max-width: 288px;
  }
}