.cover{
  position: relative;
  max-width: 1184px;
  max-height: 740px;
  box-sizing: border-box;
  margin: 0 48px 92px;
  background-image: url(../../images/__background.png);
  background-size: cover;
  background-position: center;
  padding: 245px 48px;
  transition: opacity linear;
}

.cover::before{
  content:'';
  background-color: #2A2C2F;
  opacity: .3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.cover:hover::before{
  opacity: .8;
}

@media screen and (min-width: 1281px){
  .cover{
    margin: 0 auto 92px;
  }
}

@media screen and (max-width: 1024px){
  .cover{
    padding: 195px 0;
    margin: 92px 0;
  }
}

@media screen and (max-width: 768px){
  .cover{
    margin: 90px 0;
    padding: 115px 0;
  }
}

@media screen and (max-width: 450px){
  .cover{
    margin: 34px 0;
    padding: 33px 0;
  }
}