.footer{
  display: flex;
  justify-content: space-between;
  padding: 0 auto 24px;
}

@media screen and (max-width: 414px) {
  .footer{
    flex-direction: column;
    margin-bottom: 32px;
    margin: 0 auto 24px 16px;
  }
}